<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>my-cloud-node</name>
  <description>my cloud node</description>
  <remoteFS>/root/data/jenkins_slave</remoteFS>
  <numExecutors>4</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.22">
    <host>106.2.3.220</host>
    <port>8022</port>
    <credentialsId>8d286dca-0edd-4bef-b2c2-c6bc84111280</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
  </launcher>
  <label>centos7</label>
  <nodeProperties/>
</slave>